{# 
  BASIC

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<div class="alert {{ type|default('alert-info') }}">
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
  {{ content }}        
</div>