#form_tag {
  width: 150px;
  margin: 0;
  padding: 0;
  float: left;
}
#form_tag input {
  float: left;
  width: 15px;
  padding: 0;
  margin: 3px 10px 2px 0;
}
#form_tag label {
  clear: none;
  float: left;
  text-align: left;
  width: 125px;
  margin: 1px 0 2px 0;
  padding: 0;
}
