{% block toolbar %}
  <ul class="nav nav-tabs nav-sub">
    {% for item in base_toolbar %}
      <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.link }}" title="{{ item.hint|trans }}">
          {% if item.name == 'base' %}
            <i class="fa fa-cogs"></i>
          {% elseif item.name == 'banking_account' %}
            <i class="fa fa-bank"></i>
          {% elseif item.name == 'paypal' %}
            <i class="fa fa-paypal"></i>
          {% endif %}
          <span class="visible-lg pull-right">&nbsp;{{ item.text|trans }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock toolbar %}
