{#
   kfHelloWorld
 
   @author Team phpManufaktur <team@phpmanufaktur.de>
   @link https://kit2.phpmanufaktur.de
   @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
   @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

<div class="sample_container">
    <p>PAGE_ID: {{ cms.page_id }}</p>
    <p>PAGE URL: {{ cms.page_url }}<p>
    <p>USER: {{ cms.user.name }}</p>
</div>