{# 
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<div id="go_back">
  <span class="go_back_item"><a href="javascript:history.back();">{{ 'go back'|trans }}</a></span>
  {% for link in links %}
    <span class="go_back_item"><a href="{{ link.url }}">{{ link.text|trans }}</a></span>
  {% endfor %}
</div>
