{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/FacebookGallery
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/import/css/kitevent.css" media="screen, projection" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>{{ 'Import events from kitEvent'|trans }}</h1>
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}
success!
  {% if app.translator.locale == 'de' %}
    {# german translation #}
  {% else %}
    {# english translation #}
  {% endif %}

{% endblock content %}
