{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<p>{{ 'Hello %name%'|trans({'%name%':user.displayname}) }},</p>
<p>{{ 'The change of your account rights is rejected by admin'|trans }}.</p>