{#
  TemplateTools
 
  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/TemplateTools
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if PAGE_ID > 0 %}
  {# show the search field only at regular pages not at the search results #}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="search row">
    <div class="col-lg-4 col-lg-offset-8 col-sm-6 col-sm-offset-6 col-xs-8 col-xs-offset-4">
      {# just include the ready to use search form #}
      {% include '@pattern/bootstrap/search.form.twig' %}
    </div>
  </div>
{% endif %}  