<p>Hello,</p>
<p>this is a email for testing purposes from the kitFramework at {{ FRAMEWORK_URL }} which will show you that all email settings are correct and working fine.</p>
<p>The <var>FRAMEWORK_UID</var> of this installation is:</p>
<p style="text-align: center;"><strong>{{ framework_uid }}</strong></p>
<p>you will need the <var>FRAMEWORK_UID</var> if you want to migrate the website to another location.</p>
<p>Regards<br />
  <em>Your kitFramework</em></p>