{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'framework/backend.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'Welcome'|trans }}{% endblock %}

{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container">
    <div class="page-header">
      <h1>kitFramework <small>{{ 'Entry points'|trans }}</small></h1>
    </div>

    {{ alert }}

    <div class="hidden-md hidden-sm hidden-xs">
      {# DESKTOP VIEW #}
      {% set counter = 1 %}
      {% for roles in entry_points %}
        {% for entry in roles %}
          {% if counter == 1 %}
            <div class="row">
          {% endif %}
          <div class="col-lg-2">
            {% include '@phpManufaktur/Basic/Template/default/framework/account.entry.points.item.twig' %}
          </div>
          {% if counter == 6 %}
            </div>
            {% set counter = 1 %}
          {% else %}
            {% set counter = counter + 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-xs hidden-sm">
      {# TABLET VIEW #}
      {% set counter = 1 %}
      {% for roles in entry_points %}
        {% for entry in roles %}
          {% if counter == 1 %}
            <div class="row">
          {% endif %}
          <div class="col-md-3">
            {% include '@phpManufaktur/Basic/Template/default/framework/account.entry.points.item.twig' %}
          </div>
          {% if counter == 4 %}
            </div>
            {% set counter = 1 %}
          {% else %}
            {% set counter = counter + 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-md">
      {# SMARTPHONE VIEW #}
      {% set counter = 1 %}
      {% for roles in entry_points %}
        {% for entry in roles %}
          {% if counter == 1 %}
            <div class="row">
          {% endif %}
          <div class="col-xs-6">
            {% include '@phpManufaktur/Basic/Template/default/framework/account.entry.points.item.twig' %}
          </div>
          {% if counter == 2 %}
            </div>
            {% set counter = 1 %}
          {% else %}
            {% set counter = counter + 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

{% endblock content %}
