{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
    {% set template_namespace = '@phpManufaktur/Basic/Template' %}
    {% set template_file = 'framework/body.twig' %}
{% else %}
    {% set template_namespace = '@phpManufaktur/Basic/Template' %}
    {% set template_file = 'framework/backend.body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'kitFramework - Access denied'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/framework/css/error.css" media="screen, projection" />
{% endblock %}
{% block content %}
  <div id="error-403">
    <p>{{ 'Sorry, but only Administrators are allowed to access this kitFramework extension.'|trans }}</p>
  </div>
{% endblock %}
