{# 
  kitFramework:Basic

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<div style="border:1px solid #ccc; color:#000; background-color:#fff8dc; margin:20px 0 10px 0; padding:10px; font-size:13px;">
  {{ 'There is no help available for the kitCommand <b>%command%</b>.'|trans({'%command%':command}) }}
  {% if curl_info.http_code is defined %}
    <p>HTTP Status Code: {{ curl_info.http_code }}</p>
  {% endif %}
  {% if content|default('')|length > 0 %}
    <p>{{ 'Additional information'|trans }}: {{ content }}</p>
  {% endif %}
</div>